.shootings-wrapper {
  display: grid;
  grid-template-rows: 12em 1fr;

  h1 {
    grid-row: 1;
    margin: auto;
  }
  .search-bar {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .cards {
    display: grid;
    margin: 0.8em;
    gap: 10px;
  }
  
}

@media all and (min-width: 1281px) {
  .shootings-wrapper {
    .cards{
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .shootings-wrapper {
    .cards{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .shootings-wrapper {
    .cards{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .shootings-wrapper {
    .cards{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media all and (max-width: 480px) {
  .shootings-wrapper {
    .cards{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}