.shooting-wrapper {
  display: grid;
  grid-template-rows: 12em 12em 1fr;

  h1 {
    grid-row: 1;
    margin: auto;
  }

  .filter {
    grid-row: 2;
    margin: auto;
  }

  .photos-wrapper {
    display: grid;
    margin: 0.8em;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
