.shooting-wrapper {
  display: grid;
  grid-template-rows: 12em 8em 8em 1fr;

  h1 {
    grid-row: 1;
    margin: auto;
  }

  .filter {
    grid-row: 2;
    margin: auto;
  }
  .pagination-1 {
    grid-row: 3;
    margin: auto;
  }
  .pagination-2 {
    grid-row: 5;
    margin: auto;
  }

  .photos-wrapper {
    grid-row: 4;
    display: grid;
    margin: 0.8em;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .card {
      overflow: hidden;
      img {
        cursor: pointer;
        object-fit: cover;
        margin: auto;
        width: 550px;
        height: 550px;
      }
    }
  }

  .image-viewer-wrapper{
    z-index: 9;
  }
}
